<section class="report-section">
  <h2>C-02 Participation</h2>
  <p>
    Total: <%= @presenter.participation_stats[:total] %><br>
    Submitted: <%= @presenter.participation_stats[:submitted] %><br>
    Rate: <%= @presenter.participation_stats[:submission_rate] %>%
  </p>
</section>
