<section class="report-section">
  <h2>하위 영역별 취약점 분석</h2>
  <table class="report-table">
    <thead>
      <tr>
        <th>하위 영역</th>
        <th>평균</th>
        <th>그래프</th>
      </tr>
    </thead>
    <tbody>
      <% @presenter.subskill_aggs.each do |agg| %>
        <tr>
          <td><%= agg.subskill %></td>
          <td><%= agg.avg %>점</td>
          <td><%= report_bar(agg.avg) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
