<section class="report-section">
  <h2>S-08 Trait</h2>
  <p>Type: <%= @presenter.trait_result&.trait_type %></p>
  <p><%= @presenter.trait_text %></p>
  <p><%= @presenter.trait_explanation.presence || "TBD" %></p>
</section>
