<section class="report-section">
  <h2>부록</h2>
  <table class="report-table">
    <tr><th style="width:150px;">검사 버전 ID</th><td><%= @presenter.assessment_version&.id %></td></tr>
    <tr><th>보고서 버전</th><td><%= @presenter.report.version %></td></tr>
  </table>
</section>
